{{template "base/header" .}}
{{template "base/navbar" .}}
<div class="container">
<h3>Repository List<span class="pull-right"><input class="form-control" type="input" placeholder="search"/></span></h3>
<div>
	<ul class="list-group">
		{{range .Repos}}
		<li class="list-group-item">[{{.Id}}] <a href="/repo?id={{.Id}}">{{.Uri}}</a> - {{.Brief}}</li>
		{{end}}
	</ul>
</div>
<form role="form">
	<label>Repo Name</label>
	<input class="form-control" type="input" name="repo-name" placeholder="github.com/.../..." />
	<button class="btn btn-default">Add Repository</button>
</form>
</div>
{{template "base/footer" .}}
