{{template "base/header" .}}
{{template "base/navbar" .}}
<div class="container">
<div>
	<a href="https://{{.Repo.Uri}}">[view-source]</a> <b>{{.Repo.Uri}}</b> - last commit: af87asdfsdf
</div>
<p>{{.Repo.Brief}}</p>
<div>auto-detected: mac</div>
<div class="row">
	<div class="col-md-8">
		<div class="well">
			cgo: {{.Repo.IsCgo}}<br>
			<del>sha: jghasdfasdfkasdfasdfasd<br>
			last commit: 2day ago<br>
			desc: fix bug<br>
			last build 2min ago<br></del>
			total download: {{.DownCnt}}<br>
			<b>last build</b><br>
			{{range .Last}}
			{{.OsArch}} - {{.Updated | timesince}} Ago<br>
			{{end}}
			<form method="post" action="/api/build">
				<input type="hidden" name="rid" value="{{.Repo.Id}}">
				<button class="btn-sm btn btn-default">build now</button>
			</form>
		</div>
	</div>
	<div class="col-md-4">
		<ul class="list-group">
			<li class="list-group-item">Linux<span class="badge"><a href="/download?os=linux&arch=386&rid={{.Repo.Id}}" class="active" style="color:black">download</a></span></li>
			<li class="list-group-item">Mac<span class="badge"><a href="/download?os=darwin&arch=amd64&rid={{.Repo.Id}}" class="active" style="color:black">download</a></span></li>
			<li class="list-group-item">Windows<span class="badge"><a href="/download?os=windows&arch=386&rid={{.Repo.Id}}" class="active" style="color:black">download</a></span></li>
		</ul>
	</div>
</div>
<div>
	<h4>Build History</h4>
	<ul class="list-group">
		{{range .Tasks}}
		<li class="list-group-item">
			{{.Os}}-{{.Arch}} {{.Updated|timesince}} ago - status:{{.Status}}
			<a class="" href="/history?id={{.Id}}">details</a>
			<form class="pull-right" method="post" action="/api/force-rebuild">
				<input type="hidden" name="tid" value="{{.Id}}">
				<button class="btn btn-default btn-xs">rebuid</button>
			</form>
			<a class="pull-right" href="{{.ArchieveAddr}}">download
			<span class="glyphicon glyphicon-floppy-save"></span></a>
		</li>
		{{end}}
	</ul>
</div>
{{template "base/footer" .}}
